<div class="xmc-container" style="position: relative;">
    <br>
    <br>
    <div class="panel-heading" style="width: 90%;margin: 0 auto;">
        <h3 class="panel-title">
            {% if is_logined == True %}
            Welcome,{{user['u']}}
            {% else %}
            Please login before.
            {% endif %}
        </h3>
    </div>
    {% if is_logined == True %}
    <div class="panel-body" style="width: 90%;margin: 0 auto;">
        Joined chatrooms
    </div>
    <table class="table" style="width: 90%;margin: 0 auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    {% endif %}
    <br>
    <br>
</div>