<div style="width: 100%;height: 75px;">
<img style="width: 75px;height: 75px;float: left;display: block;" src="/api?action=mmp_album_image&path={{song_info['path']}}">
<div style="float: left;height: 100%;">
    <div style="width: 100%;overflow: hidden;">{{ song_info['title'] }} - {{ song_info['album'] }} {{ song_info['performer'] }}<br></div>
    <div id='controler'>
        <audio id='source' src="/api?action=fm_api&request=download&path={{ song_info['path'] }}"></audio>
        <input type="range" id="progress-bar" style="width: 100%;"/><br>
        <button onclick="changeState()">Play/Pause</button>
    </div>
</div>
</div>
<script>
var state = 0;
document.getElementById('source').load();
document.getElementById('source').ontimeupdate = function () {
    document.getElementById('progress-bar').max = document.getElementById('source').duration*100;
    console.log(document.getElementById('progress-bar').max)
    document.getElementById('progress-bar').value = document.getElementById('source').currentTime*100;
}
document.getElementById('progress-bar').onchange = function () {
    document.getElementById('progress-bar').max = document.getElementById('source').duration*100;
    document.getElementById('source').currentTime = (document.getElementById('progress-bar').value) / 100.0;
}
function changeState() {
    state = !state;
    if(state) document.getElementById('source').play();
    else document.getElementById('source').pause();
}
</script>