<div class="xmc-container">
    <center>
    <br>
    <div style="width: 90%;">
        <img style="display: block;border-radius: 50%;" src="/static/face.jpg">
        <h1>Xiaokang00010</h1>
        <font color="gray">
        由于XdevTeam只有我一个成员，所以LICENSE注明XdevTeam的项目均为我独自一人开发。<br>
        C++/Python菜鸡 全栈程序员<br><br>
        </font>
        Hello,大家好这里是xiaokang00010的自我介绍.<br>
        头像用的是神田空太，背景是樱花庄，这点大家应该看得出来吧qwq<br>
        至于为什么用呢，主要是觉得自己跟神田空太的一些地方很像，就例如<s>一样是个普通人</s>,也会盼望着有一天能通过自己努力来取得属于自己的成就。<br>
        平时喜欢自称傻逼，目标是成为由崎ナサ一样的人。<br>希望活出值得自己铭记的人生.(￣∇￣)<br><br>
        附上我自己特别喜欢的一句话<br>
        <code><em>He said one day you will leave this world behind, so live a life you will remember.</em> -by Avicii</code><br>

        <br>
        <em>另外,此网站并非是<code>xiaokang00010.tk</code>的主站点，要想访问我Blog请访问</em><a href="//www.xiaokang00010.tk">这里</a>
    </div>
    <br>
    <br>
    </center>
</div>