<script>
//$("#upload").fileinput({'showUpload':false, 'previewFileType':'any'});
$("#upload").fileinput("upload");
function do_remove(filename){
    if(filename == ""){
        alert('Failed with empty filename')
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=remove&path="{{path}}/'+filename+'"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_rename(filename){
    var newname = prompt('Input a new name or path:')
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=rename&path="{{path}}/'+filename+'"&new="{{path}}/' + newname + '"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_create_dir(filename){
    var newname = prompt('Input a directory name:')
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=create_dir&path="{{path}}/'+ newname +'"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_download(filename){
    window.open('/api?action=fm_api&request=download&path="{{path}}/'+filename+'"')
    //document.execCommand('Refresh')
}
function back_to_last(){
    last='{{path}}/../'
    window.location = '/fm?path="'+last+'"'
}
</script>

{% if modules_list.count('MusicPlayer') != 0 %}
<script src='static/plugins_statics/MusicPlayer/music_api.js'></script>
{% endif %}

<div class="rounded" style="position: relative;width: 90%;margin: 0 auto;background-color: white;opacity: 0.9;">
    {% if is_logined == false %}
    <h1 style="width: 90%;margin: 0 auto;">Please login before.</h3>
    {% else %}
        <br>
        <br>
        <div class="panel-heading" style="width: 90%;margin: 0 auto;">
            <h3 class="panel-title">
                {% if path == None%}
                /
                {% else %}
                /{{path}}
                {% endif %}
            </h3>
        </div>
        <div class="panel-body" style="width: 90%;margin: 0 auto;">
            <form action="/api?action=fm_api&request=upload&path={{path}}/" enctype="multipart/form-data" method="POST">
                <span class="input-group-text" id="basic-addon1">upload files</span>
                <input id="upload" name="file" type="file" class="file" data-show-preview="false">
            </form>
            <a class="btn btn-primary" href="javascript:back_to_last();" onclick=";" role="button">Back to last</a>
            <a class="btn btn-primary" href="javascript:location.reload()" onclick="do_create_dir();" role="button">Create Directory</a>
        </div>
        <table class="table" style="width: 90%;margin: 0 auto;">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in filenames %}
                <tr>
                    <td>{{i['filename']}}</td>
                    <td>
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_remove('{{i['filename']}}')">Remove</a>
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_rename('{{i['filename']}}')">Rename</a>
                        {% if i['type'] == 'file'%}
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_download('{{i['filename']}}')">Download</a>
                        {% if modules_list.count('MusicPlayer') != 0 %}

                        {% if i['mime'][0:5] == 'audio' %}
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_import('{{path}}/{{i['filename']}}')">Import to playlist</a>
                        {% endif %}

                        {% endif %}

                        {% else %}
                        <a href="/fm?path={{path}}/{{i['filename']}}" class="btn btn-primary" role="button" onclick="">Open</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    {% endif %}
</div>