<script>
//$("#upload").fileinput({'showUpload':false, 'previewFileType':'any'});
$("#upload").fileinput("upload");
function do_remove(filename){
    if(filename == ""){
        alert('Failed with empty filename')
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=remove&path="{{path}}/'+filename+'"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_rename(filename){
    var newname = prompt('Input a new name or path:')
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=rename&path="{{path}}/'+filename+'"&new="{{path}}/' + newname + '"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_create_dir(filename){
    var newname = prompt('Input a directory name:')
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=fm_api&request=create_dir&path="{{path}}/'+ newname +'"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_download_renamed(filename){
    window.open('/api?action=fm_api&request=download&path="{{path}}/'+filename+'"')
    //document.execCommand('Refresh')
}
function back_to_last(){
    last='{{path}}/../'
    window.location = '/fm?path="'+last+'"'
}
</script>

{% if modules_list.count('MusicPlayer') != 0 %}
<script src='static/plugins_statics/MusicPlayer/music_api.js'></script>
{% endif %}

<script>
function do_import_all() {
    var pname = prompt('Input playlist name:')
    {% for i in filenames %}
    {% if i['type'] == 'file' and i['mime'][0:5] == 'audio' %}
    do_import("{{path}}/{{i['filename']|safe}}",pname)
    {% endif %}
    {% endfor %}
}

function do_covert(path){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=video_covert_api&path=' + path);
    xmlhttp.send()
    alert('Process Started. Please wait here for few minutes.')
    xmlhttp.onreadystatechange = function () {
        if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
            alert('Success.')
        }
    }
}

function do_download() {
    var url = prompt('Input Bilibili Video Url:');
    if(url == null){
        alert('Canceled.')
        return;
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=vd_api&path={{path|safe}}&url="' + url + '"');
    xmlhttp.send();
    alert('Process Started.Please wait here for few minutes.');
    xmlhttp.onreadystatechange = function () {
        if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
            alert('Success.')
        }
    }
}
</script>

<div class="xmc-container" style="position: relative;">
        <br>
        <br>
        <div class="panel-heading" style="width: 90%;margin: 0 auto;">
            <h3 class="panel-title">
                {% if path == None%}
                /
                {% else %}
                /{{path}}
                {% endif %}
            </h3>
        </div>
        <div class="panel-body" style="width: 90%;margin: 0 auto;">
            {% if is_logined == True %}
            <form action="/api?action=fm_api&request=upload&path={{path}}/" enctype="multipart/form-data" method="POST">
                <span class="input-group-text" id="basic-addon1">upload files</span>
                <input id="upload" name="file" type="file" class="file" data-show-preview="false">
            </form>
            {% endif %}
            <a class="btn btn-primary" href="javascript:back_to_last();" onclick=";" role="button">Back to last</a>
            {% if is_logined == True %}
            <a class="btn btn-primary" href="javascript:location.reload()" onclick="do_create_dir();" role="button">Create Directory</a>
            {% endif %}
            {% if modules_list.count('MusicPlayer') != 0 and is_logined == True %}
            <a class="btn btn-primary" href="javascript:location.reload()" onclick="do_import_all();" role="button">Import all music to playlist</a>
            {% endif %}
            {% if modules_list.count('BilibiliVideosDownloader') != 0 and is_logined == True %}
            <a class="btn btn-primary" href="#" onclick="do_download();" role="button">Download videos from bilibili</a>
            {% endif %}
        </div>
        <table class="table" style="width: 90%;margin: 0 auto;">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>MIME Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in filenames %}
                <tr>
                    <td>{{i['filename']}}</td>
                    <td>{{i['mime']}}</td>
                    <td>
                        {% if is_logined == True %}
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_remove('{{i['filename']|safe}}')">Remove</a>
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_rename('{{i['filename']|safe}}')">Rename</a>
                        {% endif %}
                        {% if i['type'] == 'file'%}
                        <a href="javascript:location.reload()" class="btn btn-primary" role="button" onclick="do_download_renamed('{{i['filename']|safe}}')">Download</a>
                        {% if modules_list.count('MusicPlayer') != 0 %}

                        {% if i['mime'][0:5] == 'audio' and is_logined == True %}
                        <a href="#" class="btn btn-primary" role="button" onclick="do_import(&quot;{{path}}/{{i['filename']|safe}}&quot;)">Import to playlist</a>
                        {% endif %}

                        {% endif %}

                        {% if modules_list.count('Video Player') != 0 and i['mime'][0:5] == 'video' %}
                        <a href="/video?path={{path|safe}}/{{i['filename']|safe}}" class="btn btn-primary" role="button">Open with video player</a>
                        {% if modules_list.count('BilibiliVideosCoverter') != 0 and i['mime'][0:5] == 'video' and is_logined == True %}
                        <a href="#" onclick="do_covert('{{path|safe}}/{{i['filename']|safe}}')" class="btn btn-primary" role="button">Covert</a>
                        {% endif %}

                        {% endif %}

                        {% else %}
                        <a href="/fm?path={{path}}/{{i['filename']}}" class="btn btn-primary" role="button" onclick="">Open</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
</div>