<script>

var chapters = [];
var files = [];

function init() {
    {% for i in book['chapters'] %}
    chapters.push(["{{i[0]|safe}}","{{i[1]|safe}}"])
    {% endfor %}
    {% for i in book['files'] %}
    files.push("{{i|safe}}");
    {% endfor %}
}
init()

function goto_current_index(str){
    if(files.indexOf('OEBPS/'+str) != -1) window.location = window.location + '&index=' + String(files.indexOf('OEBPS/'+str))
    if(files.indexOf('OPS/'+str) != -1) window.location = window.location + '&index=' + String(files.indexOf('OPS/'+str))
    else window.location = window.location + '&index=' + String(files.indexOf(str))
}

</script>

<div class="xmc-container">
    <br>
    <div style="width: 90%;margin: 0 auto;">
        <h3>{{ book['title'] }}</h3>
        <h5>{{ book['author'] }}</h5>
        {% for i in book['chapters'] %}
        <a href="javascript:goto_current_index('{{ i[1] }}');">{{ i[0] }}</a>:     <em>{{i[1]}}</em><br>
        {% endfor %}
    </div>
    <br>
</div>