<script>

var chapters = [];
var files = [];

function init() {
    {% for i in book['chapters'] %}
    chapters.push(["{{i[0]|safe}}","{{i[1]|safe}}"])
    {% endfor %}
    {% for i in book['files'] %}
    files.push("{{i|safe}}");
    {% endfor %}
}
init()

function get_origin_url(str) {
    if(str.indexOf('#') != -1) str = str.substr(0,str.indexOf('#'))
    if(str.indexOf('?') != -1) str = str.substr(0,str.indexOf('?'))
    return str
}

function goto_current_index(str){
    str = get_origin_url(str)
    let index = 0;
    if(files.indexOf('OEBPS/'+str) != -1){
        index = files.indexOf('OEBPS/'+str)
    }
    else if(files.indexOf('OPS/'+str) != -1){
        index = files.indexOf('OPS/'+str)
    }
    else index = files.indexOf(str)
    window.location = '/reader?path="{{path}}"&index=' + String(index)
}

</script>

<div class="xmc-container">
    <br>
    <div style="width: 90%;margin: 0 auto;">
        <h3>{{ book['title'] }}</h3>
        <h5>{{ book['author'] }}</h5>
        {% for i in book['chapters'] %}
        <a href="javascript:goto_current_index('{{ i[1] }}');">{{ i[0] }}</a>:     <em>{{i[1]}}</em><br>
        {% endfor %}
    </div>
    <br>
</div>