<script>
function do_add_playlist(){
    name = prompt('Input playlist name')
    if(name == null) return;
    if(name == ""){
        alert('Failed with empty playlist name')
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=music_api&request=create_playlist&name="'+name+'"', 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
function do_remove_playlist(pid){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", '/api?action=music_api&request=remove_playlist&pid='+String(pid), 0);
    xmlhttp.send();
    console.log(xmlhttp.responseText);
    var response = JSON.parse(xmlhttp.responseText)
    if(response["status"] == "error"){
        alert('Failed with ' + response['reason'])
    }
    //document.execCommand('Refresh')
}
</script>

<div class="xmc-container" style="position: relative;">
    <div style="margin: auto auto;">
        <br><br>
        {% if is_logined == False %}
        <center><h1>
            Please login before.
        </h1></center>
        {% else %}
        <div class="panel-heading" style="width: 90%;margin: 0 auto;">
            <h3> Playlists </h3>
        </div>
        <div class="panel-body" style="width: 90%;margin: 0 auto;">
            You can see your playlists in this page<br>
            <br>
            <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_add_playlist()" role="button">Create playlist</a>
            <br><br>
            <table class="table" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in playlists['playlists'] %}
                    <tr>
                        <td><a href="/music/playlists/{{i['name']}}">{{i['name']}}</a></td>
                        <td>
                            <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_remove_playlist({{playlists['playlists'].index(i)}})" role="button">Remove playlist</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <br><br>
    </div>
</div>