<script>
function do_import(){
    path = prompt('Input music file path in storage')
    if(path == null){
        alert('Canceled.')
        return;
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=music_api&request=add_song&pid={{pid}}&path=' + path,0);
    xmlhttp.send();
    var result = JSON.parse(xmlhttp.responseText);
    if(result['status'] == 'error'){
        alert('Failed with ' + result['reason']);
    }
}
function do_open(){

}

function do_remove_song(name){
    if(name == null){
        alert('bad request');
        return;
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=music_api&request=remove_song&pid={{pid}}&path=' + name,0);
    xmlhttp.send();
    var result = JSON.parse(xmlhttp.responseText);
    if(result['status'] == 'error'){
        alert('Failed with ' + result['reason']);
    }
}

/* player start */
for_search = []
current_playlist_url = [];
current_playlist = [];
current_index = 0;
mode = 'm_normal'
state = 0

function on_set_player_start(){
    player = document.getElementById('player')
    clbl = document.getElementById('current_lbl')
    clbl.innerHTML = 'Current: ' + current_playlist[current_index][0] + ' - ' + current_playlist[current_index][1] + ' - ' + current_playlist[current_index][2];
    player.src = current_playlist_url[current_index++];
    player.load()
    document.getElementById('song-progress-bar').min = 0;
    document.getElementById('song-progress-bar').max = document.getElementById('player').duration;
}

function on_change_state(){
    if(state) document.getElementById('player').pause()
    if(!state) document.getElementById('player').play()
    document.getElementById('song-progress-bar').min = 0;
    document.getElementById('song-progress-bar').max = document.getElementById('player').duration;
    state = !state
}

function on_next_song(){
    if(current_index==current_playlist.length){
        if(mode != 'm_loop'){
            mode = 'm_stop';
            current_index = 0;
            document.getElementById('player').src = '';
            document.getElementById('current_lbl').innerHTML = 'Current: ';
            return;
        }else{
            current_index = 0;
        }
    }else if(current_index==-1){
        current_index = current_playlist.length-1;
    }
    state = true;
    half_pasted = false;
    document.getElementById('current_lbl').innerHTML = 'Current: '+ current_playlist[current_index][0] + ' - ' + current_playlist[current_index][1] + ' - ' + current_playlist[current_index][2];
    document.getElementById('player').src = current_playlist_url[current_index++];
    document.getElementById('song-progress-bar').min = 0;
    document.getElementById('song-progress-bar').max = document.getElementById('player').duration;
    document.getElementById('song-progress-bar').value = 0;
    document.getElementById('player').play()
}

function on_prev_song() {
    half_pasted = false;
    current_index -= 2;
    on_next_song()
}

function player_start_with_playlist(mode = 'm_normal'){
    mode = mode;
    current_playlist = []
    current_playlist_url = []
    {% for i in info['playlist'] %}
    for_search.push("{{i['path']}}")
    current_playlist.push(["{{i['title']}}","{{i['album']}}","{{i['performer']}}","{{i['path']}}"]);
    current_playlist_url.push("/api?action=fm_api&request=download&path={{i['path']}}");
    {% endfor %}
    document.getElementById('player').onended = function(){
        on_next_song()
    }
}

var half_pasted = false;

function progress_bar_init() {
    document.getElementById('song-progress-bar').onchange = function () {
        console.log('this.value-> ',document.getElementById('song-progress-bar').value )
        document.getElementById('player').currentTime = document.getElementById('song-progress-bar').value;
    }
    document.getElementById('player').ontimeupdate = function () {
        document.getElementById('song-progress-bar').value = document.getElementById('player').currentTime;
        if(document.getElementById('player').currentTime >= document.getElementById('player').duration * 0.5 && half_pasted == false){
            half_pasted = true
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open('GET','/api?action=music_api&request=half_pasted_detect&path=' + current_playlist[current_index-1][3])
            xmlhttp.send()
            xmlhttp.onreadystatechange = function () {
                console.log(xmlhttp.responseText)
            }
        }else{
            console.log(document.getElementById('player').currentTime,document.getElementById('player').duration * 0.5)
        }
    }
    setInterval(function () {
        document.getElementById('song-progress-bar').max = document.getElementById('player').duration;
        var now_minutes = Math.trunc(Math.trunc(document.getElementById('player').currentTime) / 60);
        var now_seconds = Math.trunc(Math.trunc(document.getElementById('player').currentTime) % 60);
        var tot_minutes = Math.trunc(Math.trunc(document.getElementById('song-progress-bar').max) / 60);
        var tot_seconds = Math.trunc(Math.trunc(document.getElementById('song-progress-bar').max) % 60);
        document.getElementById('progress_show').innerHTML = now_minutes + ':' + now_seconds + ' of ' + tot_minutes + ':' + tot_seconds;
        document.getElementById('player').volume = document.getElementById('song-volume-changer').value / 100;
    },10)
}

/* player end */

</script>

<div class="xmc-container">
    <div style="margin: auto auto;">
        <br><br>
        {% if is_logined == False %}
        <center><h1>
            Please login before.
        </h1></center>
        {% else %}
        <div class="panel-heading" style="width: 90%;margin: 0 auto;">
            <h3> {{name}} </h3>
        </div>
        <div class="panel-body" style="width: 90%;margin: 0 auto;">
            <br>
            <div class="music_player">
                <h5 id="current_lbl">Current: </h5>
                <audio id="player" class="player" src=""></audio>
                <h6 id="progress_show">0:00 of 0:00</h5>
                <input id="song-progress-bar" type="range" class="form-range" value="0"></input>
                
                <a class="btn btn-primary" href="#" onclick="on_change_state()" role="button">Play/Pause</a>
                <a class="btn btn-primary" href="#" onclick="on_next_song()"    role="button">Next</a>
                <a class="btn btn-primary" href="#" onclick="on_prev_song()"    role="button">Prev</a>
                <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_import()" role="button">Import song</a>
                <input id="song-volume-changer" type="range" min="0" max="100" value="100"></input>
            </div>
            <br><br>
            <table class="table" style="width: 100%; table-layout: fixed; word-break: break-all;white-space: nowrap;">
                <thead>
                    <tr>
                        <th style="width: 4rem;">Number</th>
                        <th>Title</th>
                        <th>Album</th>
                        <th>Performer</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in info['playlist'] %}
                    <tr>
                        <td><div style="text-overflow: ellipsis;overflow: hidden;height: 2.75rem;">{{info['playlist'].index(i)}}</div></td>
                        <td><div style="text-overflow: ellipsis;overflow: hidden;height: 2.75rem;"><a href="#" onclick="current_index=for_search.indexOf(&quot;{{i['path']}}&quot;);on_next_song();">{{i['title']}}</a></div></td>
                        <td><div style="text-overflow: ellipsis;overflow: hidden;height: 2.75rem;">{{i['album']}}</div></td>
                        <td><div style="text-overflow: ellipsis;overflow: hidden;height: 2.75rem;">{{i['performer']}}</div></td>
                        <td>
                            <div style="text-overflow: ellipsis;overflow: hidden;height: 2.75rem;">
                            <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_remove_song('{{i['path']}}')" role="button">Remove song</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            document.getElementById('player').load()
            player_start_with_playlist()
            on_set_player_start()
            progress_bar_init()
        </script>
        {% endif %}
        <br><br>
    </div>
</div>