<script>
function do_import(){
    path = prompt('Input music file path in storage')
    if(path == null){
        alert('Canceled.')
        return;
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=music_api&request=add_song&pid={{pid}}&path=' + path,0);
    xmlhttp.send();
    var result = JSON.parse(xmlhttp.responseText);
    if(result['status'] == 'error'){
        alert('Failed with ' + result['reason']);
    }
}
function do_open(){

}

function do_remove_song(name){
    if(name == null){
        alert('bad request');
        return;
    }
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?action=music_api&request=remove_song&pid={{pid}}&path=' + name,0);
    xmlhttp.send();
    var result = JSON.parse(xmlhttp.responseText);
    if(result['status'] == 'error'){
        alert('Failed with ' + result['reason']);
    }
}

/* player start */
for_search = []
current_playlist_url = [];
current_playlist = [];
current_index = 0;
mode = 'm_normal'
state = 0

function on_set_player_start(){
    player = document.getElementById('player')
    clbl = document.getElementById('current_lbl')
    clbl.innerHTML = 'Current: ' + current_playlist[current_index][0] + ' - ' + current_playlist[current_index][1] + ' - ' + current_playlist[current_index][2];
    player.src = current_playlist_url[current_index++];
}

function on_change_state(){
    if(state) document.getElementById('player').pause()
    if(!state) document.getElementById('player').play()
    state = !state
}

function on_next_song(){
    if(current_index==current_playlist.length){
        if(mode != 'm_loop'){
            mode = 'm_stop';
            current_index = 0;
            document.getElementById('player').src = '';
            document.getElementById('current_lbl').innerHTML = 'Current: ';
            return;
        }else{
            current_index = 0;
        }
    }else if(current_index==-1){
        current_index = current_playlist.length-1;
    }
    document.getElementById('current_lbl').innerHTML = 'Current: '+ current_playlist[current_index][0] + ' - ' + current_playlist[current_index][1] + ' - ' + current_playlist[current_index][2];
    document.getElementById('player').src = current_playlist_url[current_index++];
    document.getElementById('player').play()
}

function on_prev_song() {
    current_index -= 2;
    on_next_song()
}

function player_start_with_playlist(mode = 'm_normal'){
    mode = mode;
    current_playlist = []
    current_playlist_url = []
    {% for i in info['playlist'] %}
    for_search.push('{{i["title"]|safe}}')
    current_playlist.push(['{{i["title"]|safe}}','{{i["album"]|safe}}','{{i["performer"]|safe}}']);
    current_playlist_url.push('/api?action=fm_api&request=download&path={{i["path"]}}');
    {% endfor %}
    document.getElementById('player').onended = function(){
        on_next_song()
    }
}

/* player end */

</script>

<div class="rounded" style="position: relative;width: 90%;margin: 0 auto;background-color: white;opacity: 0.9;">
    <div style="margin: auto auto;">
        <br><br>
        {% if is_logined == False %}
        <center><h1>
            Please login before.
        </h1></center>
        {% else %}
        <div class="panel-heading" style="width: 90%;margin: 0 auto;">
            <h3> {{name}} </h3>
        </div>
        <div class="panel-body" style="width: 90%;margin: 0 auto;">
            <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_import()" role="button">Import song</a><br>
            <div class="music_player">
                <h5 id="current_lbl">Current: </h5>
                <audio id="player" class="player" src="" style="width: 100%;"></audio>
                <a class="btn btn-primary" href="#" onclick="on_change_state()" role="button">Play/Pause</a>
                <a class="btn btn-primary" href="#" onclick="on_next_song()" role="button">Next</a>
                <a class="btn btn-primary" href="#" onclick="on_prev_song()" role="button">Prev</a>
            </div>
            <br><br>
            <table class="table" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Album</th>
                        <th>Performer</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in info['playlist'] %}
                    <tr>
                        <td><a href="#" onclick="current_index=for_search.indexOf('{{i['title']}}');on_next_song();">{{i['title']}}</a></td>
                        <td>{{i['album']}}</td>
                        <td>{{i['performer']}}</td>
                        <td>
                            <a class="btn btn-primary" href="javascript:location.reload();" onclick="do_remove_song('{{i['path']}}')" role="button">Remove song</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            document.getElementById('player').load()
            player_start_with_playlist()
            on_set_player_start()
        </script>
        {% endif %}
        <br><br>
    </div>
</div>